body {
    font-family: Arial;
    background-color: black;
    margin: 0;
}

header {
    background-color:  blue;
    text-align: center;
    padding: 15px;
}

.Content {
    background-color: white;
    margin: 20px;
    padding: 15px;
    border-radius: 5px;
}

h2 {
    color: #003366;
}

footer {
    background-color: yellow;
    text-align: center;
    padding: 10px;
}